html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f5f4;
  font-size: 18px;
}

/*
    Header
*/

header {
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
  padding-top: 1.625rem;
}

.header-link-container {
  color: #000000;
  text-decoration: none;
}

.header-main-text {
  font-size: 2em;
}

.header-sub-text {
  font-size: 1.2em;
  color: #707070;
}

.header-sub-text span {
  color: #931337;
  display: block;
}

/*
    Main content
*/

main {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

/*
    Hero Image
*/

.hero-image-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 310px;
  min-height: 60vh;
}

.hero-image-main {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
}

.hero-image-heart {
  grid-column: 4 / 5;
  grid-row: 1 / 1;
}

.hero-image-main img {
  height: 320px;
  display: block;
}

.hero-image-heart img {
  height: 70px;
  transform: rotate(20deg);
}

.articles__heading {
  font-size: 1.25rem;
  font-weight: 400;
  color: #343a40;
}

.articles__heading strong {
  position: relative;
  white-space: nowrap;
  z-index: 0;
}

.articles__heading strong::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 20%;
  bottom: 10%;
  left: 0;
  background-color: #fe0;
  transform-origin: 0 50%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: -1;
}

/*
    Footer
*/

.footer {
  min-height: 80vh;
  color: #fff;
  margin-top: 2.625rem;
  padding-top: 1.125rem;

  position: relative;
  overflow: hidden;
  background-color: #0c0c0c;
  line-height: 2;
  text-align: center;
}
.footer:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  content: "";
  display: block;
  position: absolute;
  top: 53%;
  left: 64%;
  width: 200%;
  height: 200%;
  -webkit-transform: translate(-50%, 0) rotateY(0) rotate(40deg);
  transform: translate(-50%, 0) rotateY(0) rotate(40deg);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transition: -webkit-transform 3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 3s cubic-bezier(0.755, 0.05, 0.855, 0.06),
    -webkit-transform 3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  background: linear-gradient(
    to left,
    #202020,
    #202020 50%,
    #171717 50%,
    #171717 100%
  );
  z-index: 1;
}

.footer__container {
  z-index: 2;
  position: relative;
}

.footer__secondary {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.footer__secondary a {
  margin-right: 1rem;
}
.footer__secondary a svg {
  height: 40px;
  z-index: 50;
}

.outline {
  fill: #069;
}
.inline {
  fill: #fff;
}

.cls_1 {
  fill: #fff;
  fill-rule: evenodd;
}

@media (min-width: 768px) {
  .footer__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
  }
}

.wrapper {
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
}
@media (min-width: 768px) {
  main.wrapper {
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;

    padding-left: 0;
    padding-right: 0;
  }
}
